<div class="sidebar">
    <h2>Itinero</h2>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li *ngIf="role === 'admin'"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li *ngIf="role === 'admin'"><a routerLink="/manage-bookings" routerLinkActive="active">Manage Trips</a></li>
        <li *ngIf="role === 'admin'"><a routerLink="/manage-users" routerLinkActive="active">Manage Users</a></li>
        <li *ngIf="role === 'admin'"><a routerLink="/reports" routerLinkActive="active">Expense Reports</a></li>
        
        <li><a routerLink="/booking" routerLinkActive="active">Book a Trip</a></li>
        <li><a routerLink="/trips" routerLinkActive="active">My Trips</a></li>
        
        <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        <li><a routerLink="/login">Logout</a></li>
    </ul>
</div>
